html, body {
    background-image:linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),
    url(pexels-sanni-sahil-2565919\ -\ Copy\ \(13\).jpg);background-size: cover;
}
.navbar11 {
    height: 40px;background-color: aqua;position: relative;top: 0%;
}
.navbar11 > div{
    display: inline;float: inline-end;margin-right: 40px;font-size: 125%;
    color:white;padding-top: 5px;
}
.navbar11 div a {
    text-decoration: none;color:white;
}

.navbar11 div a:hover {
    color: blue;
}
.page_name {
    float: inline-start;margin-left: 25px;
}
.main {
    background-color: aquamarine;
    border: 2px solid black;
}
.Content {
    width:40%;position: absolute;top:25%;left:10%;
    color: white;
}
.Name {
    font-size: 200%;
}
.Type {
    font-size: 125%;
}
.picture {
    position:absolute;top: 10%;right: 10%;width :35%; height: 60%;
    background-color: yellow;
}
button {
    position: relative;left:40%;background-color: rgb(219, 29, 178);color: white;height:40px;width:22%;
    margin-bottom: 10px;border-radius: 7px;
}

/*///////////////////////////////*/

.about {
    position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);color: white;
}
.Quick_game {
    position: absolute;top: 80%;left: 10%;
    width: 50px;height: 50px;text-align: center;display: none;
}
.options {
    display:none;
}
.options:hover {
    display: inline-block;
}
.games {
    position: absolute;top:50%;left:50%;transform: translate(-50%, -50%);
    display: grid;grid-template-columns: 1fr 1fr;width:40%;height:200px
}
.games > div {
    text-align:center;margin: 2px; background-color: aqua;
}
.message {
    width:50%;position: absolute;top: 50%;left:50%;transform: translate(-50%, -50%);
    
}
.two_things {
    
}
input {
    border-radius: 5px;outline: none;
}
label {
    color: white;
}
